
{% extends 'base.html' %}


<!-- {% include 'Untitled-1.html'%} -->


{% block content %}


<body>
<form class="form-signin" method="POST" action=''>{% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">メンバー削除画面</h1>
    {% if error %}
    {{ error }}
    {% endif %}

    <input type="number" class="form-control" name='members_Id' placeholder="members_Id" required autofocus>

    削除：しない
    <input type="radio" class="form-control" name='delete_Flg' placeholder="delete_Flg" 　value="0" required checked>
    する
    <input type="radio" class="form-control" name='delete_Flg' placeholder="delete_Flg" value="1" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">削除する</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>
</body>
{% endblock content %}